.object {
	border: 2px solid white;
	position: absolute;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
	transform-origin: -1px -1px; /* -1px for border width */
}

.object--deselected {
	border-color: transparent;
	box-shadow: none;
}

.origin {
	width: 8px;
	height: 8px;
	border-radius: 100px;
	background: white;
	position: absolute;
	top: -5px;
	left: -5px;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
	z-index: 1001;
}

.object--deselected .origin {
	display: none;
}

.delete {
	width: 22px;
	height: 22px;
	border-radius: 100px;
	background: #222;
	position: absolute;
	top: -12px;
	right: -12px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1001;
}

.object--deselected .delete {
	display: none;
}

.delete i {
	color: #ddd;
	font-size: 14px;
}

.modify {
	width: 22px;
	height: 22px;
	border-radius: 100px;
	background: white;
	position: absolute;
	bottom: -12px;
	right: -12px;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotate(-45deg);
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
	z-index: 1001;
}

.object--deselected .modify {
	display: none;
}

.modify i {
	color: #111;
	font-size: 14px;
}

.image {
	position: absolute;
	z-index: 1000;
}
